{% extends "blog/base.html" %}
{% block content %}
<h2>Latest Blog Posts</h2>
{% if user.is_authenticated %}
<p><a href="{% url 'post-create' %}">Create New Post</a></p>
{% endif %}

{% for post in posts %}
<article class="post-entry">
    <h3>
        <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
    </h3>
    <p class="post-meta">
        By {{ post.author }} on {{ post.published_date|date:"F d, Y" }}
    </p>
    <p>{{ post.content|truncatechars:150 }}</p>
</article>
<hr>
{% empty %}
<p>No posts found. Start by creating one!</p>
{% endfor %}
{% endblock content %}